.body {
    margin: 0;
    padding: 0;
}


/* @media (min-width: 770px) { */
   

.board {
    display: grid;
    grid-template-columns: repeat(4, 130px); /* Creates 4 columns */
    grid-template-rows: repeat(4, 185px); /* Creates 4 rows */
    border: 2px black solid;
    /* row-gap: 5px; /* Adjust as needed for spacing between images */
    justify-content: center;
    align-items: center;
}

.square {
    width: 130px;
    height: 175px;
    /* border: 2px solid black; */
    object-fit: contain; /* This will ensure that images cover the div without stretching */
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto;
}

/* }

@media (max-width: 769px) {
    
} */